.header {
    font-size: 200%;
    display: block;
    text-align: center;
    color: aliceblue;
    text-decoration: underline;
    text-shadow:
        -1px -1px 0 rgb(73, 79, 82),
        1px -1px 0 rgb(73, 79, 82),
        -1px 1px 0 rgb(73, 79, 82),
        1px 1px 0 rgb(73, 79, 82);
    transition: 1500ms;
}

.header-mobile {
    font-size: 120%;
    display: block;
    text-align: center;
    color: aliceblue;
    text-decoration: underline;
    text-shadow:
        -1px -1px 0 rgb(73, 79, 82),
        1px -1px 0 rgb(73, 79, 82),
        -1px 1px 0 rgb(73, 79, 82),
        1px 1px 0 rgb(73, 79, 82);
    transition: 1500ms;
}

.header:hover {
    color: rgb(73, 79, 82);
    cursor: pointer;
    /* font-size: 220%; */
    text-shadow:
        -1px -1px 0 aliceblue,
        1px -1px 0 aliceblue,
        -1px 1px 0 aliceblue,
        1px 1px 0 aliceblue;
    transition: 1500ms;
}

.headerImg {
    height: 40px;
    margin: 0 20px;
    border-radius: 50%;
}