.about {
    text-align: center;
    color: aliceblue;
}
.aboutImg {
    max-height: 300px;
    border-radius: 50%;
    margin: 30px;
    transition: 1500ms;
}
.aboutImg:hover {
    border-radius: 30%;
    transition: 1500ms;
    cursor: pointer;
}
p {
    margin: 40px;
}